<div class="sidebar">
  <img src="/blogprofile.jpeg" alt="Profile Image" class="profile-image">
  <div class="site-title">
    <a href="/"><h1>Samuel's Blog Site</h1></a>
  </div>
  <ul>
    <li>
      <a href="/">
        <i class="fas fa-blog"></i> Blogs
      </a>
    </li>
    <li>
      <a href="/about">
        <i class="fas fa-info-circle"></i> About
      </a>
    </li>
    <li>
      <a href="/blogs/create">
        <i class="fas fa-plus-circle"></i> New Blog
      </a>
    </li>
  </ul>
</div>