<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class = "container">
    <div class="not-found">
      OOPS, page not found :)
    </div>
  </div>

</body>
</html>