<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <main class = 'content-wrapper'>
    <div class="about-content">
      <h2>About Me</h2>
      <p> I am <strong>Samuel F. Belen </strong>, a 2nd Year Computer Science Student, and this is my Prefinals Work. I hope Sir Angelo enjoys the video presentation for this.</p>
      <p>My hobbies are watching anime almost everyday, playing volleyball, and playing games like Pokemon and Assasin's Creed. My favorite colors are maroon and grey.</p>
      <p>I cannot wait for vacation to start because i want to practice coding my own projects and help build my resume in my vacation. Nevertheless, i enjoyed the intrams this year!.</p>
    </div>
  </main>
</body>
</html>